<div class="search-container">
    <app-search (search)="onSearch($event)"></app-search>
  </div>
  <div class="stories-container">
    <table>
      <tr>
    <th><b>Story - ID</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>  <th><b>Title</b></th></tr>
    
    <div *ngFor="let story of filteredStories" class="story">
      <tr>
        <td>{{story.id}} </td>  <td> <a *ngIf="story.url" [href]="story.url" target="_blank">{{ story.title }}</a>
      <span *ngIf="!story.url">{{ story.title }}</span> </td>
    </tr>
    </div>

  </table>
  </div>
  <div class="pagination">
    <br><br>
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= stories.length">Next</button>
  </div>
  